* {
  /* All/some style remove */
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* Header Section style */
header {
  background-image: url("../assignment-assets/images/banner/banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  /* flexbox using */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 30px 80px;
  text-align: right;
  gap: 30px;
}
header > h1 {
  font-family: "Rubik", sans-serif;
  letter-spacing: 5px;
  font-size: 60px;
}
header > p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-size: 20px;
}
header > button {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  background-color: rgb(224, 49, 49);
  letter-spacing: 1px;
}
/* section one */
.precious-yc {
  /* background-color: rgba(15, 38, 53, 0.39); */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 80px;
}
.precious-yc-text {
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.precious-yc-text > h2 {
  font-family: "Rubik", sans-serif;
  font-size: 40px;
}
.precious-yc-text > p {
  font-family: "Open Sans", sans-serif;
}
.precious-yc-list {
  list-style: none;
}
.precious-yc-list > li {
  display: flex;
  font-family: "Open Sans", sans-serif;
  align-items: center;
}
/* my plane section */
.my-plan {
  padding: 30px 80px;
}
.my-plan-header {
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;
}
.my-plan-fotter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.my-plan-fotter-parant {
  text-align: center;
}
.my-plan-fotter-parant > h3 {
  font-family: "Rubik", sans-serif;
  font-size: 26px;
  padding-top: 20px;
  padding-bottom: 5px;
}
.my-plan-fotter-parant > p {
  font-family: "Open Sans", sans-serif;
}
/* 2 image blending section */
.two-image {
  height: 300px;
  background-image: url("../assignment-assets/images/watch.png"),
    url("../assignment-assets/images/gradient2.png");
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 80px;
  text-align: left;
}
.two-image > h2 {
  padding-left: 100px;
  font-family: "Rubik", sans-serif;
  font-size: 26px;
}
.two-image-parant {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.two-image-parant > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 900px;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  letter-spacing: 1px;
  height: 50px;
  width: 200px;
}
/* footer section */
footer {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  padding: 30px 80px;
}
.footer-first {
  width: 500px;
}
.footer-first > h3 {
  font-family: "Rubik", sans-serif;
  font-size: 25px;
}
.footer-first > p {
  font-family: "Open Sans", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-first > address {
  font-family: "Open Sans", sans-serif;
}
.footer-second {
  padding-left: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-second > h3 {
  font-family: "Rubik", sans-serif;
  font-size: 25px;
}
.footer-second-form {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
input {
  padding: 10px;
}
.footer-second-form > button {
  padding: 10px;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  color: white;
  border-radius: 5px;
  background-color: rgb(224, 49, 49);
  letter-spacing: 1px;
}
